<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
		<script th:src="@{/static/js/jquery-3.3.1.js}"></script>
		<script th:src="@{/static/js/bootstrap.js}"></script>
		<script th:src="@{/static/js/bootstrap.bundle.js}"></script>
		<title>Hello, world!</title>
</head>
<body>
	<h1>Hello, world!</h1>
	<h2 th:text="test"></h2>
	<div class="container-fluid">
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default">Left</button>
			<button type="button" class="btn btn-default">Middle</button>
			<button type="button" class="btn btn-default" id="ajax">Right</button>
		</div>
	</div>		

<script>
    $("#ajax").click(function(){
        $.ajax({
            url: "/admin/index",
            type: "get",
            dataType: "json",
            success: function(data) {
                alert(data.msg)
            }
        });
    });

</script>
</body>
</html>
